* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	background-color: #ffdbc2;
}

#chessboard {
	display: grid;
	grid-template-columns: repeat(8, 100px);
	border: 30px solid #C19A6B;

}

#chessboard .cell {
	height: 100px;
	position: relative;
}

.cell img {
	height: 100%;
	width: 100%;
}

.odd-row .cell:nth-of-type(even) {
	background-color: #6e4b20;
}

.even-row .cell:nth-of-type(odd) {
	background-color: #6e4b20;
}

@media (max-width: 1367px) {
	#chessboard {
		grid-template-columns: repeat(8, 70px);
	}

	#chessboard .cell {
		height: 65px;
	}
}